# Ignored files/directories named as follow at any level
**/Dockerfile
**/.dockerignore
**/npm-debug.log
**/README.md

# Ignored directories named as follow at any level
**/node_modules/
**/.git/
**/dist/
**/tmp/
**/.next/
**/coverage/