NODE_ENV=development
DATABASE_URL=postgresql://postgres:123456@localhost:5432/you-say
APP_PORT=5000
APP_EXPOSED_PORT=5000
APP_HOST=127.0.0.1

# Optional envs

SWAGGER_PATH=/docs

## Logger envs

LOGGER_MAX_SIZE=10m
LOGGER_MAX_FILES=7d
LOGGER_NAME=system
LOGGER_ENV=false
LOGGER_LEVEL=debug
IS_ROTATE_LOGGER_FILES_ACTIVATED=true

# JWT

JWT_SECRET=SECRET
ACCESS_TOKEN_TTL=6000
REFRESH_TOKEN_TTL=36000