# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# See /src/contracts/types/web.type.ts to see valid values for NODE_ENV
NODE_ENV=development

DATABASE_URL="file:./dev.db"
APP_PORT=5000
APP_EXPORTED_PORT=5000
APP_HOST=127.0.0.1

# Optional envs
SA_USERNAME=sa
SA_PASSWORD=sa-pass
SWAGGER_PATH=/docs