@tailwind base;
@tailwind components;
@tailwind utilities;

[type='search']::-webkit-search-decoration {
  display: none;
}
[type='search']::-webkit-search-cancel-button {
  display: none;
}
[type='search']::-webkit-search-results-button {
  display: none;
}
[type='search']::-webkit-search-results-decoration {
  display: none;
}
